pyotp_seed = 'your_one_time_password_seed'
pyotp_issuer = 'Your Crypt Keeper'

your_sesnsitve_pass_1 = 'a_very_important_password'
your_sesnsitve_pass_2 = 'another_very_important_password'

totp_window = 1 #Number of codes before and after current code to allow